.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top {
    display: flex;
}

.imgContainer {
    width: 90%;
    height: 350px;
    position: relative;
}

.date {
    width: 10%;
    transform: rotate(-90deg);
    margin: auto;
}

.title {
    width: 90%;
    font-size: 24px;
    margin-bottom: 20px;
}

.desc {
    width: 90%;
    margin-bottom: 20px;
    font-weight: 300;
    color: var(--txt-soft);
    white-space: pre-line;
}

.link {
    text-decoration: underline;
    color: var(--bg-mid)
}