@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-dark: #110616;
    --bg-mid: #f41afd;
    --bg-soft: #2d2a3f;
    --txt-light: #DEE2E6;
    --txt-soft: #909090;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(130deg, rgba(28, 11, 36, 1) 0%, rgba(33, 18, 60, 1) 60%, rgba(62, 30, 64, 1) 100%) !important;
    color: var(--txt-light) !important;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.img-container {
    position: relative;
    width: 500px;
    height: 500px;
}

.brandsContainer {
    position: relative;
    width: 100%;
    height: 60px;
}

.brands {
    opacity: 0.75;
}

.img-contain {
    object-fit: contain;
}

.img-cover {
    object-fit: cover;
}

.txt-color-mid {
    color: var(--bg-mid)
}

.txt-color-soft {
    color: var(--txt-soft);
}

.txt-weight-mid {
    font-weight: 600;
}

.txt-size-large {
    font-size: 5rem;
}

.txt-size-mid {
    font-size: 14px;
}

.txt-size-small {
    font-size: 12px;
}

.btns {
    border-radius: 10px;
    padding: 10px 15px;
    color: var(--txt-light);
    text-decoration: none;
    background-color: white;
    transition: color 0.2s linear;
}

.primary-btn {
    background: linear-gradient(90deg, rgba(213, 26, 253, 1) 0%, rgba(246, 1, 181, 1) 100%);
    border: 1px solid var(--bg-mid);
}

.primary-btn:enabled:hover {
    color: var(--bg-soft);
}

.secondary-btn {
    background: transparent;
    border: 1px solid var(--bg-mid);
}

.secondary-btn:enabled:hover {
    color: var(--bg-mid);
}

.btns:disabled {
    opacity: 0.7;
}

#githubBtn {
    width: 100%;
    background-color: black;
    border: none;
    color: var(--txt-light);
}

#github:hover {
    color: var(--bg-mid);
}

.required::after {
    content: "*";
    color: red;
    margin-left: 2px;
}

.portfolio {
    color: var(--txt-soft);
    text-decoration: none;
    transition: color 0.3s ease;
}

.portfolio:hover {
    color: var(--bg-mid);
}

.inputForm {
    backdrop-filter: blur(3px) saturate(200%);
    -webkit-backdrop-filter: blur(3px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.inputForm input,
.contactForm input,
.contactForm textarea,
.commentForm textarea,
.commentBox {
    background-color: rgba(255, 255, 255, 0.1);

}

.inputForm input:focus,
.contactForm input:focus,
.contactForm textarea:focus,
.commentForm textarea:focus {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

#addBtn {
    position: absolute;
    padding: auto auto;
    bottom: 30px;
    right: 10px;
    width: 50px;
    height: 50px;
    border: none;
    color: var(--bg-dark);
    font-size: 1.8rem;
    font-family: "Poppins";
    font-weight: 500;
}

.toolbarBtn {
    color: var(--txt-soft);
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.bg-mid {
    background-color: var(--bg-mid);
}

.toolbarIcon {
    height: 1rem;
}

.ProseMirror:focus {
    outline: none;
}

.ProseMirror {
    min-height: calc(100vh - 430px);
}

@media screen and (max-width: 768px) {
    .img-container {
        width: 430px;
        height: 430px;
    }

    .txt-size-large {
        font-size: 4.5rem;
    }
}


@media screen and (max-width: 500px) {
    .img-container {
        width: 350px;
        height: 350px;
    }

    .txt-size-large {
        font-size: 3.8rem;
    }
}

@media screen and (max-width: 400px) {
    .txt-size-large {
        font-size: 3.3rem;
    }
}