:root {
    /* --bg-dark: #13081a;
    --bg-mid: #3673fd; */
    --bg-dark: #110616;
    --bg-mid: #f41afd;
    --bg-soft: #2d2a3f;
    ---txt-light: white;
    --txt-soft: #AAA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-dark) !important;
    color: var(---txt-light) !important;
}

.container {
    /* background-color: var(--bg-soft); */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.txt-color-mid {
    color: var(--bg-mid)
}

.txt-color-soft {
    color: var(--txt-soft);
}

.txt-weight-mid {
    font-weight: 600;
}

.txt-size-small {
    font-size: 12px;
}