.navbar-brand {
    color: var(---txt-light) !important;
    font-weight: 700;
    font-size: 1.5rem !important;
}

#logo::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--bg-mid);
    border-radius: 50%;
    margin-left: 5px;
    position: relative;
}

.nav-link {
    padding: 8px 20px !important;
    border-radius: 30px;
    font-weight: 500 !important;
}

.nav-link.active {
    background-color: var(---txt-light);

    color: var(--bg-dark) !important;
}

@media screen and (max-width: 991px) {

    .nav-link {
        margin-block: 0.5rem;
    }

    .nav-link.active {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        color: var(--bg-mid) !important;
    }
}