.postImg {
    position: relative;
    width: 100%;
    height: calc(100vh - 150px);
}


.content {
    padding-inline: 50px;
}

@media screen and (max-width: 768px) {
    .content {
        padding-inline: 10px;
    }
}